<div class="container">
    <div class="row">
        <div class="col-md-12 text-center" id="top-bar">
            <img src="/assets/images/burger.png" alt="burger" />
            <h1> Eat-Da-Burger! </h1>
        </div>
        <div class="col-md-6 text-center" class="task">
            <div class="row">
                {{!-- Handlebars logic if not devoured --}}
            </div>
        </div>
        <div class="col-md-6 text-center" class="task">
            {{!-- Handlebars logic for each burger if devoured --}}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center enter_section">
            <form>
                <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
            </form>
            <p>Enter a burger you want to eat Click the "Submit" button.</p>
        </div>
    </div>
</div>